@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.logo {
    background: #E5E5E5;
}

.container {
   max-width:  1280px;
   margin: 0 auto;
}

.icon {
    margin-top: 93px;
    display: flex;
    gap: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}

.first-sec {
    position: relative;
    display: flex;
    margin-bottom: 177px;

}

.img-one {
    position: absolute;
    width: 305px;
    height: 378px;
    margin-left: 140px;
    margin-top: 10px;

}

.head {
    width: 628px;
    height: 190px;

    margin-top: 38px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
}

.first-p {
    width: 414px;
    height: 62px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.content {
    width: 483.63px;
    height: 200px;
    border-radius: 5px;
    background-color: #1E4681;
    margin: auto;

}

.second-p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    padding: 20px 20px 40px 20px;
    color: #FFFFFF;

}

.child-p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
    padding-right: 20px;

}

.second-list-head {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 173px;
    margin-bottom: 50px;
}

.s-sec {
    position: relative;
    display: flex;

}

.p-f-content {
    width: 662px;
    height: 374px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.img2 {
    position: absolute;
    width: 366px;
    height: 344px;
    left: 947px;

}

.img3 {

    width: 232px;
    height: 203px;
    left: 121px;
    top: 1619px;

}
.about-img-content{
    display: flex;
    margin-top: 94px;
}

.second-list-content {
  display: flex;
    gap: 95px;
    margin-top: 80px;
    margin-left: 127PX;
}

.second-list-content p{
    max-width: 150px;
    gap: 95px;
}
.p-info {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
}

.p-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.about-course {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

}

.list-content {
    display: flex;
    gap: 122px;


}

.list-content p {
    max-width: 271px;

}

.head-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;

}

.list-first-head {

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 277px;
    margin-bottom: 89px;

}

.list-second-head {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 279px;
    margin-bottom: 21px;
    padding-bottom: 20px;

}

.second-list-content ul {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    max-width: 662px;
}

.about-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 37px;

}

.card-head {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 248px;
    margin-bottom: 130px;
    margin-left: 35px;
}

.card {
    max-width: 399px;
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.card-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    margin-left: 20px;
    color: #000000;

}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    margin: 11px 20px 32px 20px;
}

.card-content {
    padding-left: 20px;
    padding-bottom: 23px;
}

.about-total{
    margin-top: 121px;
    padding-bottom: 111px;
    background: #EFEFEF;
}
.total-head{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    padding-top: 91px;
    margin-left: 122px;
    margin-bottom: 40px;
}
.total-content{
    width: 791px;
    height: 451px;
   margin-left: 122px;
    
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
   
}
.about-total-content{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
padding: 40px;
}
.name{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 101.38%;
margin-top: 50px ;
margin-left: 30px;

}
.fb-icon{
    padding-top: 20px;
}

.total-img{
    display: flex;
}
.about-register{
    background: #9DC9C8;
    
}

.price-head{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
padding-top: 179px;
padding-left: 122px;
padding-bottom: 54px;
}

.about-price{
    padding-left: 122px;
}
.price-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 101.38%;
}
.price{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 101.38%;
}
.register-info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}
.register-course{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
}

.about-re-info{
    display: flex;
   padding-left: 122px;
   gap: 70px;
   margin-top: 91px;
   padding-bottom: 175px;
   
   
}
.about-course-info{
   max-width: 294px;
  
}
.footer{
    background: #000000;
    padding-left: 122px;
    padding-top: 50px;
   
    
}
.bottom-footer{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 101.38%;
color: #FFFFFF;
padding-bottom: 23px;
padding-top: 146px;
}
.top-footer{
    display: flex;
    justify-content: space-between;
}
.phone{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 101.38%;
color: #FFFFFF;

}
.mail{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 101.38%;
color: #FFFFFF;
}
.contacts{
    
}