@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
 
}

.container {
    min-width: 1280px;    
    margin: 0px auto;
    position: relative;
    margin-top: 21px;
}

.logo {
   width: 112px;  
  width: 100%;
    height: 66px;
   

}

.logo-img {
  padding-right: 121px;
    padding-left: 121px;
}

.icon {
    margin-top: 93px;
    display: flex;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    padding-left: 121px;
    padding-right: 121px;
}

.globe {
    margin-right: 3px;
    max-width: 22px;
    width: 100%;

}

.icon-globe {
    width: 100%;
    max-width: 130px;
}

.clock {
    padding-right: 3px;
    width: 100%;
    max-width: 22px;
}

.icon-clock {
    width: 100%;
    max-width: 130px;
}


.calendar {

    width: 100%;
    max-width: 20px;

}

.icon-calendar {
    width: 100%;
    max-width: 130px;
}

.cinema {

    display: flex;
    margin-bottom: 64px;
    padding-left: 122px;
    padding-right: 122px;

}

.cinema-img {

    max-width: 305px;
    width: 100%;
    height: 378px;
    margin-left: 140px;
    margin-top: 10px;

}

.cinema-head {
    max-width: 628px;
    width: 100%;
    margin-top: 38px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
    margin-bottom: 15px;

}

.cinema-content {
    max-width: 414px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

}

.content-author {
    max-width: 483.63px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background-color: #1E4681;
    margin: 0px auto;



}

.blog-author {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    padding: 20px 20px 40px 20px;
    color: #FFFFFF;

}

.author {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
    padding-right: 20px;

}

.course-head {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 173px;
    margin-bottom: 54px;
    padding-left: 121px;
}

.about-course {
    position: relative;
    display: flex;
    padding-left: 121px;

}

.course-content {
    max-width: 662px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.about-course-img {
    display: flex;
    max-width: 366px;
    width: 100%;
    height: 344px;
    padding-left: 164px;
    margin-top: 26px;

}

.course-block-img {

    max-width: 232px;
    width: 100%;
    height: 203px;
    padding-left: 121px;

}

.about-course-block {
    display: flex;
    margin-top: 74px;
}

.course-block-content {
    display: flex;
    gap: 95px;
    margin-top: 70px;
    margin-left: 132px;
}

.course-block-content p {
    max-width: 150px;
    gap: 95px;
}

.about-course-time {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 10px;
}

.about-course-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.occupation {
    margin-left: 121px;
}

.about-occupation {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;



}

.occupation-content {
    display: flex;
    gap: 94px;


}

.occupation-content p {
    max-width: 271px;
    width: 100%;

}

.head-occupation-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;

}

.occupation-head {

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 177px;
    margin-bottom: 131px;

}

.list-head {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 220px;
    margin-bottom: 56px;
    margin-left: 121px;


}

.list-content ul {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    max-width: 662px;
    margin-left: 138px;

}

.about-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 34px;
    margin-left: 84px;


}

.card-head {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 228px;
    margin-bottom: 135px;
    margin-left: 121px;

}

.card {
    max-width: 399px;
    width: 100%;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.card-desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #000000;


}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    line-height: 97%;
    padding-top: 10px;
    margin-bottom: 10px;

}

.card-description {
    margin-top: auto;

}

.card-content {
    padding-left: 20px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
    height: 168px;
}


.total {
    padding-bottom: 111px;
    background: #EFEFEF;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    padding-left: 133px;
}

.about-total {

    max-width: 1280px;
    margin: 0 auto;
    margin-top: 121px;

}

.total-head {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    padding-top: 96px;
    margin-bottom: 40px;
}

.total-content {
    width: 791px;
    height: 451px;
    margin-top: 70px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

.about-total-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    padding: 44px;
}

.total-author {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 101.38%;
    margin-top: 26px;
    margin-left: 55px;

}


.fb-icon {
    padding-top: 30px;
}

.total-img {
    display: flex;
}

.register {
    background: #9DC9C8;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);


}

.about-register {
    max-width: 1280px;
    height: 780px;
    margin: 0 auto;
    padding-left: 86px;

}

.price-head {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    padding-top: 179px;
    padding-bottom: 70px;
}



.price-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101.38%;
}

.register-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    padding-bottom: 18px;
}

.register-course {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
}

.about-register-info {
    display: flex;
    gap: 70px;
    margin-top: 75px;
}

.about-course-info {
    max-width: 294px;

}

.footer {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    background: #000000;
    padding-left: 128px;
    padding-top: 30px;


}

.about-footer {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 20px;

}

.bottom-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    color: #FFFFFF;
    padding-bottom: 23px;
    padding-top: 146px;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    margin-right: 113px;
}

.phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    color: #FFFFFF;

}

.mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    color: #FFFFFF;
}

.sosial {
    padding-top: 24px;
    gap: 25px;
}

.about-phone {
    padding-bottom: 16px;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    .container {
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: 21px;
    }

    .logo {
       width: 64.87px;
       width: 100%; 
       height: 38.23px;
       
    }
    .logo-img{
      padding-left: 70px;
      padding-right: 70px;
    }

    .icon {            
         padding-left: 70px;
         padding-right: 70px;
         gap: 20px;
    }

    .globe {
        width: 12.74px;
    }

    .clock {
        width: 12.74px;
    }

    .calendar {
        width: 11.58px;
    }

    .icon-globe {
        width: 75.29px;
        font-size: 12px;
        line-height: 115%;
    }

    .icon-clock {
        width: 75.29px;
        font-size: 12px;
        line-height: 115%;
    }

    .icon-calendar {
        width: 75.29px;
        font-size: 12px;
        line-height: 115%;
    }
.cinema{
    margin-bottom: 23px ;
    padding-left:70px;
    padding-right: 70px;
}
    .cinema-head {
        width: 363.72px;
        font-size: 46px;
        line-height: 101.38%;
    }

    .cinema-content {
        width: 264px;
        font-size: 12px;
        line-height: 150%;
    }

    .cinema-img {
        width: 176.07px;
        height: 206.18px;
        margin-left: 81px;
    }

    .content-author {
        width: 280.11px;
        height: 115.83px;
        margin:0 auto;
    }

    .blog-author {
        font-size: 14px;
        line-height: 130%;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .author {

        font-size: 12px;
        line-height: 130%;
    }

    .course-head {
        font-size: 32px;
        line-height: 101.38%;
        padding-left: 70px;
        padding-right: 70px;
    }

    .course-content {
        width: 383.41px;
        font-size: 14px;
        line-height: 150%;
    }
.about-course{
    padding-left: 70px;
    padding-right: 70px;
}
    .about-course-img {
        width: 181.86px;
        height: 182.44px;
    }

    .course-block-img {
        width: 134.37px;
        height: 117.57px;
        padding-left: 70px;
    }

    .about-course-time {
        font-size: 15px;
        line-height: 130%;
    }

    .about-course-content {
        font-size: 11px;
        line-height: 130%;
    }

    .occupation-head {
        font-size: 32px;
        line-height: 101.38%;
    }

    .head-occupation-content {
        font-size: 15px;
        line-height: 130%;
    }

    .about-occupation {
        width: 153px;
        font-size: 11px;
        line-height: 130%;
    }

    .list-head {
        font-size: 32px;
        line-height: 101.38%;
    }

    .list-content ul {
        width: 383.41px;
        font-size: 14px;
        line-height: 150%;
    }

    .card-head {
        font-size: 32px;
        line-height: 101.38%;
    }

    .card {
        width: 231.09px;
        height: 189.97px;
    }
}

@media screen and (min-width: 320px) and (max-width: 991px) {

    .container {
        width: 100%;
        margin: 0 auto;
        position: relative;
          }

    .logo {
        width: 52.19px;
   width: 100%;
   height: 30.75px;
 
    }

.logo-img{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 36px;
    
}
.icon{ 
    padding-left: 35px;
    padding-right: 35px;
    gap: 13px;
}
    .globe {
        width: 10.25px;
    }

    .clock {
        width: 10.25px;
    }

    .calendar {
        width: 9.32px;
    }


    .icon-globe {
        width: 60.58px;
        font-size: 10px;
        line-height: 115%;
    }

    .icon-clock {
        width: 60.58px;
        font-size: 10px;
        line-height: 115%;
    }

    .icon-calendar {
        width: 60.58px;
        font-size: 10px;
        line-height: 115%;
    }

    .cinema {
        flex-direction: column;
        margin-bottom: 38px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .cinema-head {
        width: 292.63px;
        font-size: 37px;
        line-height: 101.38%;
    }

    .cinema-content {
        width: 212.4px;
        font-size: 10px;
        line-height: 150%;
    }

    .cinema-img {

        width: 141.68px;
        height: 175.1px;
    }

    .content-author {
        width: 225.36px;
        height: 93.19px;
        margin-left: 38px;

    }

    .blog-author {
        font-size: 11px;
        line-height: 130%;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .author {
        font-size: 10px;
        line-height: 130%;

    }

    .course-head {
        font-size: 26px;
        line-height: 101.38%;
        padding-left: 35px;
    }

    .about-course {
        flex-direction: column;
        padding-left: 35px;
        padding-right: 35px;
    }

    .course-content {
        width: 308.47px;
        font-size: 12px;
        line-height: 150%;
    }

    .course-img {
        width: 170.55px;
        height: 160.29px;
    }
.about-course-img{
    padding-left: 65px;
}
    .course-block-img {
        display: none;
    }

    .course-block-content {
        flex-wrap: wrap;
    }

    .about-course-content {
        width: 86.89px;
        font-size: 10px;
        line-height: 130%;
    }

    .about-course-time {
        width: 69.9px;
        font-size: 12px;
        line-height: 130%;
    }
}